.about-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 60px;
    padding-left: 0;
    padding-top: 100px;
  }
  @media screen and (min-width: 1440px) {
    justify-content: space-between;
    padding-top: 178px;
    padding-right: 190px;
  }
}

.about-container .section-title {
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.about-text {
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    width: 294px;
    letter-spacing: -0.04em;
    line-height: 1.45;
  }
  @media screen and (min-width: 1440px) {
    width: 510px;
  }
}
.second-title-about {
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    width: 294px;
    line-height: 1;
  }
  @media screen and (min-width: 1440px) {
    width: 294px;
  }
}

.about-img {
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 540px;
  }
  @media screen and (min-width: 1440px) {
    width: 590px;
    height: 616px;
  }
}
