.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 145px;
  }
  @media screen and (min-width: 1440px) {
    justify-content: flex-start;
    gap: 267px;
    padding-right: 80px;
  }
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    gap: 139px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    gap: 50px;
  }
}

.menu-item {
  margin-bottom: 24px;
}

.menu-link {
  line-height: 1.1;
  letter-spacing: -0.05em;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    letter-spacing: -0.05em;
  }
}

.menu-item {
  transition: transform 250ms ease-in-out;
}

.menu-item:hover {
  transform: scale(1.1);
}

.menu-link:hover,
.menu-link:active,
.menu-link:focus {
  border-bottom: 2px solid var(--primary-text-color);
  padding-bottom: 2px;
}

.footer-list-first {
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 50px;
  }
}

.footer-list-second {
  text-align: right;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 50px;
  }
}

.link-tel {
  line-height: 1.1;
  letter-spacing: 0.1em;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-top: 85px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 4px;
    font-size: 16px;
    letter-spacing: 0.05em;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 170px;
    padding-bottom: 16px;
  }
}
