.hero-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding-right: 0;
  }
}

.hero-text {
  max-width: 222px;
  letter-spacing: -0.04em;
  line-height: 1.4;
  @media screen and (min-width: 768px) {
    max-width: 253px;
  }
}
.hero-text-second {
  max-width: 93px;
  margin-top: 16px;
  letter-spacing: -0.04em;
  line-height: 1.4;
  @media screen and (min-width: 768px) {
    max-width: 110px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 36px;
    line-height: 1.2;
  }
}
.hero-title {
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 32px;
  letter-spacing: -0.01em;
  line-height: 1;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 42px;
    margin-top: 105px;
    max-width: 289px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 74px;
    max-width: 664px;
    margin-top: 90px;
    padding-left: 110px;
  }
}

.hero-button {
  padding: 19px 113px;
  margin-top: 32px;
  letter-spacing: -0.05em;
  line-height: 1.35;
  @media screen and (min-width: 768px) {
    padding: 19px 120px;
    margin-top: 40px;
  }
  @media screen and (min-width: 1440px) {
    padding: 21px 166px;
    margin-top: 94px;
    margin-left: 110px;
  }
}

.hero-img {
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 354px;
    height: 394px;
  }
  @media screen and (min-width: 768px) {
    width: 700px;
    height: 598px;
  }
}
