.reviews-container {
  @media screen and (min-width: 1440px) {
    padding-left: 0;
    padding-right: 112px;
  }
}

.review-info-card {
  height: 464px;
  @media screen and (min-width: 768px) {
    height: 650px;
  }
  @media screen and (min-width: 1440px) {
    height: 650px;
    display: flex;
    gap: 150px;
  }
}

video {
  width: 280px;
  height: 180px;
  @media screen and (min-width: 768px) {
    width: 648px;
    height: 417px;
  }
  @media screen and (min-width: 1440px) {
    width: 920px;
    height: 590px;
  }
}

.reviews-section-title {
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    text-align: right;
    position: relative;
    margin-bottom: -65px; /* Змінюй це значення, щоб заголовок заходив на картку */
    z-index: 2;
    margin-right: 28px;
  }
}

.review-title {
  margin-top: 32px;
  font-size: 20px;
  color: var(--accent-color);
  font-weight: 600px;
  line-height: 1.1;
  letter-spacing: -0.05em;
  @media screen and (min-width: 1440px) {
    margin-top: 115px;
    font-size: 28px;
  }
}

.review-text {
  margin-top: 16px;
  font-size: 14px;
  max-width: 258px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  @media screen and (min-width: 768px) {
    max-width: 530px;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1440px) {
    max-width: 258px;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: -0.05em;
    margin-top: 20px;
  }
}

.reviews-video {
  position: relative;
  display: inline-block;
}

.play-btn {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    top: 34%;

    width: 60px;
    height: 60px;
  }

  @media screen and (min-width: 1440px) {
    top: 45%;
    left: 35%;
    width: 80px;
    height: 80px;
  }
}

.play-btn::after {
  content: '▶';
  font-size: 24px;
  color: white;
}

.play-btn:hover {
  background-color: #b02c2a;
}
