<section id="">
  <div class="container">
    <h2 class="section-title">Bose AR</h2>
    <h3 class="second-title">Brand name technology</h3>
    <p>
      Bose AR is a unique audio platform augmented reality, that opens before
      you new facets of sound. It allows you to stay connected to the real world
      and immerse yourself in the virtual universe at the same time.
    </p>
    <picture>
      <source
        srcset="
          ./img/bose-ar/bose-ar-desk-1x.jpg 1x,
          ./img/bose-ar/bose-ar-desk-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/bose-ar/bose-ar-tab-1x.jpg 1x,
          ./img/bose-ar/bose-ar-tab-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/bose-ar/bose-ar-mob-1x.jpg 1x,
          ./img/bose-ar/bose-ar-mob-2x.jpg 2x
        "
        type="image/jpg"
        media="(max-width: 767px)"
      />

      <img
        loading="lazy"
        src="./img/bose-ar/bose-ar-desk-1x.jpg"
        alt="Headphones Bose NC 700"
        width="700"
        height="598"
      />
    </picture>
  </div>
</section>
