<section id="brand">
  <div class="container brand-container">
    <div class="brand-card">
      <div>
        <h2 class="section-title brand-title">brand creation history</h2>
        <p class="brand-text brand-text-1">
          The history of Bose Corporation began with disappointment. In 1956,
          MIT graduate student Amar Bose bought one of the best stereo systems
          at the time for his home. After a few minutes of listening to the
          audio recording, his bewilderment turned to disappointment.
        </p>

        <p class="brand-text brand-text-2">
          From Amar's point of view, the sound was so flat and unnatural that it
          was better not to listen to the music at all than to listen to it in
          such a distorted form.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./img/brand/brand-desk-1x.jpg 1x,
            ./img/brand/brand-desk-2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/brand/brand-tab-1x.jpg 1x,
            ./img/brand/brand-tab-2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/brand/brand-mob-1x.jpg 1x,
            ./img/brand/brand-mob-2x.jpg 2x
          "
          type="image/jpg"
          media="(max-width: 767px)"
        />

        <img
          class="brand-img"
          loading="lazy"
          src="./img/brand/brand-desk-1x.jpg"
          alt="Brand"
          width="700"
          height="628"
        />
      </picture>
    </div>
    <p class="brand-text brand-text-3">
      Bose's frustration grew into a firm determination to build audio
      equipments that would reproduce sound with impeccable accuracy and
      naturalness
    </p>
    <picture>
      <source
        srcset="
          ./img/brand/founder-desk-1x.jpg 1x,
          ./img/brand/founder-desk-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/brand/founder-tab-1x.jpg 1x,
          ./img/brand/founder-tab-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/brand/founder-mob-1x.jpg 1x,
          ./img/brand/founder-mob-2x.jpg 2x
        "
        type="image/jpg"
        media="(max-width: 767px)"
      />

      <img
        class="founder-img"
        loading="lazy"
        src="./img/brand/founder-desk-1x.jpg"
        alt="Founder"
        width="290"
        height="355"
      />
    </picture>
    <svg class="quote-svg" width="34" height="25">
      <use href="img/icons.svg#icon-quote"></use>
    </svg>
    <h3 class="quote-text">
      Never stop dreaming. Always dream of the best, and think about how to
      achieve it.
    </h3>
    <p class="quote-author">Amar Bose is a company founder</p>
  </div>
</section>
