<section id="capable">
  <div class="container">
    <h2 class="section-title capable-title">Capable of so much</h2>
    <ul class="capable-list">
      <div>
        <li class="capable-item">
          <svg class="svg-marker" width="13" height="13">
            <use href="img/icons.svg#icon-marker"></use>
          </svg>
          <p>Ability to receive calls</p>
        </li>
        <li class="capable-item">
          <svg class="svg-marker" width="13" height="13">
            <use href="img/icons.svg#icon-marker"></use>
          </svg>
          <p>Rich and powerful sound</p>
        </li>
        <li class="capable-item">
          <svg class="svg-marker" width="13" height="13">
            <use href="img/icons.svg#icon-marker"></use>
          </svg>
          <p>Active noise cancellation option</p>
        </li>
      </div>
      <div>
        <li class="capable-item">
          <svg class="svg-marker" width="13" height="13">
            <use href="img/icons.svg#icon-marker"></use>
          </svg>
          <p>Unsurpassed microphone system</p>
        </li>
        <li class="capable-item">
          <svg class="svg-marker" width="13" height="13">
            <use href="img/icons.svg#icon-marker"></use>
          </svg>
          <p>Support of voice assistants</p>
        </li>
        <li class="capable-item">
          <svg class="svg-marker" width="13" height="13">
            <use href="img/icons.svg#icon-marker"></use>
          </svg>
          <p>Bose AR Augmented Reality Audio Platform</p>
        </li>
      </div>
    </ul>
  </div>
</section>
