<section id="faq">
  <div class="container">
      <h2 class="section-title faq-title ">FAQ</h2>
      <div class="faq-item">
        <button type="button" class="faq-question"><span class="number-faq">01</span>
          How to pair with a mobile device? <span class="icon-faq">?</span>
        </button>
        <div class="faq-answer">
          Firstly, make sure your headphones are turned on with a single press of the top button on the back of the right earbud. Then press and hold the power button for 3 seconds to put the headphones into pairing mode. Please note that if you connect the headphones for the first time, they will automatically turn on immediately in this pairing mode. Voice prompts will provide you with additional instructions. We recommend that you use the Bose Music app to complete the pairing process, however you can also use the Bluetooth settings on your device.
        </div>
      </div>
      <div class="faq-item">
        <button type="button" class="faq-question"><span class="number-faq">02</span>
          What is the wireless range 
of the Bose NC 700? <span class="icon-faq">?</span>
        </button>
        <div class="faq-answer">
          The Bose Noise Cancelling Headphones 700 have a wireless Bluetooth range of up to 33 feet (10 meters) under normal conditions. However, the range may vary depending on environmental factors such as obstacles, interference, and signal strength.
        </div>
      </div>
      <div class="faq-item">
        <button type="button" class="faq-question"><span class="number-faq">03</span>
           How do I fold the Bose NC 700 headphones for storage? <span class="icon-faq">?</span>
        </button>
        <div class="faq-answer">
          Rotate the ear cups – Turn them inward so they lay flat.
Place them in the case – Align them inside the included hard-shell case for protection.
Store the cables – The case has a magnetic compartment for storing the charging and audio cables.
Since these headphones do not fold into a compact shape, using the provided carrying case is the best way to protect them when not in use.
        </div>
      </div>
       <div class="faq-item">
        <button type="button" class="faq-question"><span class="number-faq">04</span>
         Does the guarantee work internationally? <span class="icon-faq">?</span>
        </button>
        <div class="faq-answer">
          Valid in most countries where Bose has authorized service centers.
Duration varies by country and product (typically one year from purchase, but it can differ).
Proof of purchase is required to claim warranty service.
If the product was purchased in one country and you seek service in another, Bose may honor the warranty, but local warranty terms and service availability will apply.
For exact details, it’s best to check Bose’s official warranty policy or contact Bose support in the country where you need service.
        </div>
      </div>
    </div>
  </div>



</section>
