<footer class="footer">
  <div class="container footer-container">
    <ul class="menu-nav">
      <div class="footer-list-first">
        <li class="menu-item">
          <a class="menu-link" href="#options">Characteristics</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#brand">History</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#reviews">Reviews</a>
        </li>
      </div>
      <div class="footer-list-second">
        <li class="menu-item">
          <a class="menu-link" href="#feedback">Payment and delivery</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#options">Store addresses</a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#faq">FAQ</a></li>
      </div>
    </ul>
    <a class="link-tel" href="tel:+380971231111">8 (800) 111-11-11</a>
  </div>
</footer>
