<section id="">
  <div class="container">
    <h2 class="section-title">Guarantees</h2>
    <h3 class="second-title">90 Day Money Back Guarantee</h3>
    <p>
      If you are not 100% satisfied with a product, you can return it back for a
      full refund.
    </p>
    <h3 class="second-title">1 year warranty</h3>
    <p>
      Regardless of your country of residence, if your headphones are broken, we
      will send you new ones.
    </p>
    <picture>
      <source
        srcset="
          ./img/guarantees/guarantees-desk-1x.jpg 1x,
          ./img/guarantees/guarantees-desk-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/guarantees/guarantees-tab-1x.jpg 1x,
          ./img/guarantees/guarantees-tab-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/guarantees/guarantees-mob-1x.jpg 1x,
          ./img/guarantees/guarantees-mob-2x.jpg 2x
        "
        type="image/jpg"
        media="(max-width: 767px)"
      />

      <img
        loading="lazy"
        src="./img/guarantees/guarantees-desk-1x.jpg"
        alt="Headphones Bose NC 700"
        width="700"
        height="598"
      />
    </picture>
  </div>
</section>
