<section id="luxury">
  <div class="container luxury-container">
    <h2 class="section-title section-title-luxury">The luxury of silence</h2>
    <picture>
      <source
        srcset="
          ./img/luxury/luxury-desk-1x.jpg 1x,
          ./img/luxury/luxury-desk-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/luxury/luxury-tab-1x.jpg 1x,
          ./img/luxury/luxury-tab-2x.jpg 2x
        "
        type="image/jpg"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/luxury/luxury-mob-1x.jpg 1x,
          ./img/luxury/luxury-mob-2x.jpg 2x
        "
        type="image/jpg"
        media="(max-width: 767px)"
      />

      <img
        class="luxury-img"
        loading="lazy"
        src="./img/luxury/luxury-desk-1x.jpg"
        alt="The luxury of silence"
        width="700"
        height="598"
      />
    </picture>
    <div class="luxury-content">
      <div>
        <h3 class="second-title">Maximum enjoyment</h3>
        <p class="luxury-text">
          In order to create a comfortable atmosphere - raise the level by level
          from the "transparent" mode to the maximum blocking of sounds. The
          conversation mode can be activated in one click using a special
          button.
        </p>
      </div>
      <div>
        <h3 class="second-title luxury-title">Crystal sound</h3>
        <p class="luxury-text">
          The speaker system and brand name active equalizer are able to provide
          high-quality and powerful sound at any volume level. You can be sure
          of no distortion and crystal clear at high and low frequencies.
        </p>
      </div>
    </div>
  </div>
</section>
