<section id="options">
  <div class="container">
    <h2 class="section-title">bose nc 700</h2>
    <div class="product-image">
      <img
        id="productImg"
        src="../img/options/options-black-desk-1x.jpg"
        alt="Product Image"
      />
    </div>
    <div class="color-options">
      <button
        class="color-btn black"
        onclick="changeImage('../img/options/options-black-desk-1x.jpg')"
      ></button>
      <button
        class="color-btn white"
        onclick="changeImage('../img/options/options-white-desk-1x.jpg')"
      ></button>
    </div>
    <p class="price">14 999 UAH</p>
    <button class="button hero-button">Order</button>
  </div>
</section>
