<section id="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
     <!--
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video class="reviews-video" controls poster="">
            <source
              src=".img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video class="reviews-video" controls poster="">
            <source
              src=".img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video class="reviews-video" controls poster="">
            <source
              src=".img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
          </video>
        </div>
      </div>

      Пагінація -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
