<section id="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <video class="reviews-video" controls poster="">
            <source
              src=".img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video class="reviews-video" controls poster="">
            <source
              src=".img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
          </video>
        </div>
        <div class="swiper-slide">
          <video class="reviews-video" controls poster="">
            <source
              src=".img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
          </video>
        </div>
      </div>

      Пагінація
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="review">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
     <div class="swiper-review">
      <div class="swiper swiper-review-init">
        <div class=" swiper-wrapper">
          <div class="swiper-slide review-item ">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-dmitro-1x.jpg 1x,
                      /img/reviews/reviews-dmitro-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-dmitro-1x.jpg"
                    alt="review Dmitro"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Dmitro</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <h3>Bose Сorporation</h3>
              <p class="review-text">
                Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax 
              </p>
            </div>
          </div>
          <div class="swiper-slide review-item ">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-alisa-1x.jpg 1x,
                      /img/reviews/reviews-alisa-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="/img/reviews/reviews-alisa-1x.jpg"
                    alt="review Alisa"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Alisa</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible. The perfect balance of quiet, comfort, and sound
              </p>
            </div>
          </div>
         
          <div class="swiper-slide review-item">
            <div class="review-info-card">
              <div class="review-info">
                <picture>
                  <source
                    srcset="
                      /img/reviews/reviews-ilona-1x.jpg 1x,
                      /img/reviews/reviews-ilona-2x.jpg 2x
                    "
                    media="(min-width: 375px)"
                    type="image/jpg"
                  />
                  <img
                    class="review-img"
                    loading="lazy"
                    src="../img/reviews/reviews-ilona-1x.jpg"
                    alt="review Ilona"
                    width="80"
                    height="80"
                  />
                </picture>
                <div class="review-name-star">
                  <h3 class="review-name">Ilona</h3>
                  <ul class="reviews-stars">
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                    <li>
                      <svg class="reviews-star" width="24" height="24">
                        <use href="img/icons.svg#icon-Star"></use>
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="review-text">
                Real stories of people tuning in or out to feel peace, find escape, and for self-care
              </p>
            </div>
          </div>
          ...
        </div>
          <div class="swiper-pagination"></div>

        <div class="swiper-button-prev swiper-btn-prev"></div>
        <div class="swiper-button-next swiper-btn-next"></div>

        <div class="swiper-scrollbar"></div>

      </div>
      </div>
    </div>
  </div>
</section>