<section id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title reviews-section-title">Reviews</h2>
     <div class="swiper-review">
      <div class="swiper swiper-review-init">
        <div class=" swiper-wrapper">
          <div class="swiper-slide review-item ">
            <div class="review-info-card">
              <video  class="reviews-video" controls poster="img/reviews/poster1.jpg">
            <source
              src="img/Bose _ Bose Noise Cancelling Headphones 700 _ Everybody’s Talking.mp4"
            />
              </video>
               <button id="playButton" class="play-btn"></button>
              <div>
              <h3 class="review-title">Bose Сorporation</h3>
              <p class="review-text">
                Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax 
              </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide review-item ">
            <div class="review-info-card">
             <video  class="reviews-video" controls poster="img/reviews/poster2.jpg">
                 <source src="img/Bose Noise Cancelling Headphones 700 _ Design and innovation as one.mp4"/>
             </video>
              <button id="playButton" class="play-btn"></button>
             <div>
               <h3 class="review-title">Bose Сorporation</h3>
              <p class="review-text">
                Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible. The perfect balance of quiet, comfort, and sound
              </p>
              </div>
            </div>
          </div>
         
          <div class="swiper-slide review-item">
            <div class="review-info-card">
              <video  class="reviews-video" controls poster="img/reviews/poster3.jpg">
            <source
              src="img/Bose _ Power of Sound - Open Your Heart and Mind with Infinite Possibilities.mp4"
            />
          </video>
           <button id="playButton" class="play-btn"></button>
          <div>
               <h3 class="review-title">Bose Сorporation</h3>
              <p class="review-text">
                Real stories of people tuning in or out to feel peace, find escape, and for self-care
              </p>
              </div>
            </div>
          </div>
          ...
        </div>
          <div class="swiper-pagination"></div>

        <div class="swiper-button-prev swiper-btn-prev"></div>
        <div class="swiper-button-next swiper-btn-next"></div>

        <div class="swiper-scrollbar"></div>

      </div>
      </div>
    </div>
  </div>
</section>